/* body {
    background-color: #60a9ff;

} */

.navbar {
    height: 60px;
    background-color: #01352a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo {
    height: 50px;
    width: 100px;

}

.logo {
    background-image: url("img/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

* {
    font-family: 'Open Sans', sans-serif;
    /* box-sizing: border-box; */
    margin: 0;
    border: border-box;
}

/* box2 */
.add1 {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add2 {
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 5px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box3 */
.searchbox {
    width: 620px;
    height: 45px;
    border-radius: 4px;
    display: flex;
    margin: 15px;
    align-items: center;
    background-color: rgba(255, 192, 203, 0.886);
    justify-content: space-evenly;
}

.searchbox:hover {
    border: 6px solid pink;
}

.search {
    width: 100%;
    height: 43px;
    border: none;
    font-size: 1.5rem;
}

.all {
    width: 50px;
    height: 45px;
    text-align: center;
    background-color: 0F1111;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search_icon {

    width: 40px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #0f1111;
}

/* box4 */
.hello {
    width: 150px;
    height: 50px;
    color: #FFFFFF;
}

.signup {
    font-size: 1rem;
    font-weight: 700;
    justify-content: space-evenly;
}

/* box5 */
.return {
    width: 150px;
    height: 50px;
    color: #FFFFFF;
}

.order {
    font-size: 1rem;
    font-weight: 700;
}

/* box6 */
.cart i {
    font-size: 2rem;

}

.cart {
    font-size: 0.85rem;
    font-weight: 700;
    color: #FFFFFF;
}



/* NAVBAR 2 */
.navbar2 {
    height: 40px;
    background-color: #044c3c;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.add {
    width: 5%
}

.c2 {
    width: 50%;
}

.nav2 p {
    display: inline;
    margin-left: 15px;
}

/* heroimg */
.heroimg {
    background-image: url("img/hero_image.jpg");
    height: 350px;
    background-size: cover;
    align-items: flex-end;
    justify-content: space-evenly;
    display: flex;
}

.text {
    height: 40px;
    color: white;
    text-align: center;
    background-color: rgb(187, 194, 194);
    margin-bottom: 5px;
    width: 80%;

}


/* shop img */
.shop_img {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #044c3c;
    margin-top: 15px;
}

.box {
    text-align: center;
    border: 2px solid black;
    width: 23%;
    height: 400px;
    background-color: #FFFFFF;
    padding: 20px 0 15px 0;
}

.box-img {
    height: 80%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    background-size: cover;
}

.box p {
    margin-top: 15px;
    text-align: center;
    color: rgb(126, 195, 195);
}

/* footer */
footer {
    margin-top: 15px;
}

.main-bottom {
    background-color: rgb(11, 49, 68);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    text-align: start;
    color: #FFFFFF;
    padding-top: 5rem;

}

.info1 a {
    display: block;
    margin-top: 10px;
}

.bold {
    font-size: 1rem;
    font-weight: bold;
}

.last-text {
    margin-top: 15px;
    width: 800;
    height: 60px;
    background-color: #036482;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.seclast {
    height: 60px;
    width: 100%;
    background-color: rgb(11, 49, 68);
    border-top: 0.1rem solid grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    width: 100px;
    height: 100%;
    justify-content: center;
    margin-right: 50px;
}

.blog {
    width: 180px;
    height: 50px;
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    margin-left: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

/* .last-col */
.last-col {
    color: white;
    background-color: #001428;
    height: 50px;
    font-size: 1rem;
}

.col1 {
    text-align: center;
}

.col1 p {
    display: inline;
    margin-left: 10px;

}

.copy {
    text-align: center;
    font-size: 0.85rem;
}